# dependências
node_modules
.pnpm-store

# build
dist
*.tsbuildinfo
.runtime

# ambiente
.env
.env.*
!.env.example

# testes e cobertura
coverage

# SO
.DS_Store
Thumbs.db

# editores
.vscode
.idea
*.swp
*.swo
